:root {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    margin-bottom: 300px;
}

.navbar li {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.navbar img {
    height: 82px;
    width: 105px;
}

.navbar li a {
    display: block;
    width: 150px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 300;
    transition: all .2s ease-in-out;
}

.navbar li a:hover {
    transform: scale(1.1);
    color: coral;
}

.navbar .search-form {
    display: flex;
    align-items: center;
}

.navbar .search-input {
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    box-shadow: 0 0 2px 0;
    transition: all .2s ease-in-out;
}

.navbar .search-input:hover {
    transform: scale(1.05);
}

.navbar .search-input:focus {
    outline: none;
    box-shadow: 0 0 2px 0;
}

.navbar .search-button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 40px;
    background-color: coral;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navbar .search-button:hover {
    transform: scale(1.1);
}

.navbar .account {
    align-items: center;
    background-color: coral;
    border-radius: 40px;
    width: 180px;
    padding: 15px 15px;
    margin-left: 20px;
    color: #ffffff;
}

.navbar .account:hover {
    color: white;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 img {
    height: 400px;
    width: 400px;
    border-radius: 40px;
    margin-left: 50px;
}

.T1 {
    text-align: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    margin-top: 200px;
}

.footer li {
    list-style-type: none;
    margin: 5px 0;
}

.footer li button {
    background-color: coral;
    border-style: none;
    border-radius: 40px;
    color: #ffffff;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.footer li button:hover {
    transform: scale(1.2);
}

.footer img {
    height: 82px;
    width: 105px;
}

.footer li a, p {
    display: block;
    width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.footer li a:hover {
    transform: scale(1.1);
    color: coral;
}